body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
  padding: 16px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  gap: 16px;
}

.scoresheet {
  display: flex;
  gap: 48px;
}